# normal rules (sorted alphabetically)
.*
*.ko
*.mod.c
*.o
*.o.*
*.order
*.patch
*.symtypes
Module.symvers

# temporary files
*.orig
*~
\#*#

# git files that we don't want to ignore even if they are dot-files
!.gitignore